@import "tailwindcss";

.scroll-stack-container::-webkit-scrollbar {
  display: none;
}

.scroll-stack-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  white-space:initial;
  overflow-x: clip;
}