@import "tailwindcss";
.scroll-stack-container::-webkit-scrollbar {
  display: none;
}

.scroll-stack-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
html {
  scroll-behavior: smooth;
}